table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

tr:nth-child(even){background-color: #454429}
tr:nth-child(odd) td{background-color: #91972A}
th {
    background-color: #AA6DA3
}
